

body {
    font-family: 'Roboto', sans-serif; 
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    background: rgb(1, 20, 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    box-sizing: border-box;
}

@media (min-device-width: 600px) {
    
    #calculator {
        flex-basis: 33.3333%;
    }

    .sideContainer {
        flex-basis: 33.3333%;
    }
}

@media (max-device-width: 599px) {
    #calculator {
        flex-basis: 60%;
    }
    .sideContainer {
        flex-basis: 20%;
    }
}

@media (orientation:portrait){
    #calculator {
        flex-basis: 60%;
    }
    .sideContainer {
        flex-basis: 20%;
    }
}

#allContainer {
    display: flex;
    justify-content:flex-start; 
    align-items:flex-start;
    flex-flow: wrap;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sideContainer{
    display: flex;
    justify-content:flex-start; 
    align-items:flex-start;
    flex-flow: wrap;
    margin: 0;
    padding: 0;
    height: 80%;
}

#calculator {
    height: 80%;
    display: flex;
    justify-content: center;  
    align-items: center;
    margin: 0;
    border-radius: 2%;
    padding: 0;
    /*border: 1vh white solid;*/

}
#calculator{
    --r:2px;     /* radius   */
  --g:grey,rgb(1, 20, 10);; /* gradient */
  
  border-radius:var(--r);
  padding:calc(var(--r));
  background:
    /*corners*/
    radial-gradient(farthest-side at bottom right,var(--g)) top    left /var(--r) var(--r),
    radial-gradient(farthest-side at top    right,var(--g)) bottom left /var(--r) var(--r),
    radial-gradient(farthest-side at bottom left ,var(--g)) top    right/var(--r) var(--r),
    radial-gradient(farthest-side at top    left ,var(--g)) bottom right/var(--r) var(--r),
    /* borders*/
    linear-gradient(to top   ,var(--g)) top   /calc(100% - 2*var(--r)) var(--r),
    linear-gradient(to bottom,var(--g)) bottom/calc(100% - 2*var(--r)) var(--r),
    linear-gradient(to right ,var(--g)) right /var(--r) calc(100% - 2*var(--r)),
    linear-gradient(to left  ,var(--g)) left  /var(--r) calc(100% - 2*var(--r));
  background-repeat:no-repeat;
}

#calculatorInner {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 1.5%;
    margin-bottom: 0;
    flex-shrink: auto;
    background: silver;
    border: 1vh rgb(143, 142, 142) solid;
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
    align-items:center;
    gap: 1.5%;
    /*border-radius: 2%;*/
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
    box-sizing: border-box;
}



#display {
    flex-basis: 96%;
    height: 20%;
    background: #557743;
    padding: 1vh black;
    border-radius: 2%;
    /* #748555; #5f7e51*/

    display: flex;
    justify-content: space-between;  
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#topB {
    width: 100%;
    height: 3%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(63, 63, 63) 99%);
}

#botB {
    width: 100%;
    height: 2%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(63, 63, 63) 99%);
}

#leftB{
    width: 1%;
    height: 95%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(63, 63, 63) 99%);
}

#rightB{
    width: 0.75%;
    height: 95%;
    background: rgb(0,0,0);
    background: rgb(63, 63, 63);
}

#M {
    display: flex;
    width: 90%;
    height: 90%;
    font-family: 'Calculator', sans-serif;
    color: black solid; 
    justify-content: right;
    align-items: center;
    font-size: 18vh; 
    font-weight: 400;    
    text-shadow: -1px -1px rgba(0,0,0,0.2);           
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  
    align-items: center;
    border-radius: 5%;
    border: none;
    flex-basis: 23%;
    height: 14%;
    border: 1px #3b3b3b4d solid;
    color: white;
    font-size: 5.5vh;
    background-color: rgb(136, 134, 137);
}

button:hover{
    background-color: rgb(116, 114, 117);
}
button:active{
    background-color: rgb(106, 104, 107);
}


.operator, .pseudoop {
    background-color: rgb(69, 138, 73);
}
.operator:hover, .pseudoop:hover{
    background-color: rgb(49, 138, 53);
}
.operator:active, .pseudoop:active{
    background-color: rgb(24, 138, 33);
}

#equal{
   background-color: rgb(72, 163, 77);
    font-weight: 900;
}

#equal:hover{
    background-color: rgb(72, 143, 77);
 }
 #equal:hover{
    background-color: rgb(52, 143, 57);
 }
 #equal:active{
    background-color: rgb(27, 143, 37);
 }

#C{
    background-color: rgb(177, 80, 80);
}
#C:hover{
    background-color: rgb(177, 60, 60);
}
#C:active{
    background-color: rgb(177, 40, 40);
}

#back{
    background-color: rgb(177, 90, 90);
}
#back:hover{
    background-color: rgb(177, 70, 70);
}
#back:active{
    background-color: rgb(177, 50, 50);
}

#back {
    font-size: 3.5vh;
    font-weight: 550;

}

.material-icons{
    color: white;
}
.divs {
    box-sizing: border-box;
   /* border: 1px white solid;*/
    margin: 0px;
    padding: 0px;
    margin-bottom: 0;
    flex-shrink: auto;
    color: white;
    font-family: 'Chalk';
    font-weight: 600;
}